<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.itesm.kuali.kuali">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_kuali"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_kuali"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait" >
        <activity
            android:name=".TabMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PantallaProducto" />
        <activity
            android:name=".PantallaInicio"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoriasActivity"
            android:label="@string/title_activity_categorias"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AcercaDe"
            android:label="@string/title_activity_acerca_de"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Formulario_Producto"
            android:label="@string/title_activity_formulario__producto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BusquedaProductos"
            android:label="Búsqueda de Productos"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>